<div class="setting" id="download-via-github">
    <h3 class="title">Requirements</h3>
    <p class="description">
        Before using this open source project make sure to download atleast
        <a class="link" href="https://nodejs.org/en/download/">NodeJS</a>
        version 16.x.x
        <br><br>
        Aswell as your favorite IDE in our case we choose 
        <a class="link" href="https://code.visualstudio.com/">Visual Studio Code</a>.
    </p>
    <br>
    <h3 class="title">Deployment</h3>
    <p class="description">
        To use this bot follow the steps given down below.
        <br><br>
        1.  Press the big green "Code" button at the top of the repo.
        <br><br>
        <img src="https://cdn.discordapp.com/attachments/926292185748496446/985148389547212870/unknown.png" alt="Image" class="image">
        <br><br>
        2.  Download your freshly created repo with the template code in it. We recommend using github desktop for this
        <br><br>
        <img src="https://cdn.discordapp.com/attachments/926292185748496446/985149773738831912/unknown.png" alt="Image" class="image">
        <br><br>
        3. Open the Files in vscode and create a .env file based on the template given below.
        <br><br>
        <a class="command" id="token">TOKEN=</a>
        <br>
        <a class="command" id="database">DATABASE_URI=</a>
        <br>
        <a class="command" id="clientid">CLIENT_ID=</a>
        <br>
        <a class="command" id="devid">DEVGUILD_ID=</a>
        <br>
        <a class="command" id="clientsecret">CLIENT_SECRET=</a>
        <br>
        <a class="command" id="ddtoken">DEVELOPERSDUNGEON=</a>
        <br>
        <a class="command" id="callback">CALLBACK_URL=</a>
        <br>
        <a class="command" id="log">LOG_CHANNEL=</a>
        <br>
        <a class="command" id="port">PORT=</a>
        <script>
            tippy('#token', {
                content: 'The token is the bot\'s token. You can get it from the discord website.'
            })
            tippy('#database', {
                content: 'The database uri is the connection string to the database. It have to be a mongoDB uri link.'
            })
            tippy('#clientid', {
                content: 'The client id is the client id of the bot. You can get it from the discord website.'
            })
            tippy('#devid', {
                content: 'The dev guild id is the id of the guild where you want to test the bot. You can get it from the discord app'
            })
            tippy('#clientsecret', {
                content: 'The client secret is the client secret of the bot. You can get it from the discord website.'
            })
            tippy('#ddtoken', {
                content: 'The developers dungeon token is the token of our web api. This is not required.'
            })
            tippy('#callback', {
                content: 'The callback url is the url where the discord app redirects to. It has to be a valid url.'
            })
            tippy('#log', {
                content: 'The log channel is the channel where the bot logs errors to. It has to be a valid channel id.'
            })
            tippy('#port', {
                content: 'The port is the port where the website listens to. It has to be a port between 10 and 9999.'
            })
        </script>
        <br><br>
        If you are unsure on how to get certaint values for the .env open a ticket on our
        <a class="link" href="https://discord.gg/NqDGtcB8Zt">support server</a>
        <br><br>
        4. Once you filled out the .env variables open a terminal and run the following commands
        <br><br>
        Installing the required packages:
        <br>
        <a class="command">npm install --save</a>
        <br><br>
        Start the bot:
        <br>
        <a class="command">npm run start</a>
    </p>
    <br>
    <h3 class="title">Features</h3>
    <p class="description">
        - Slash commands<br>
        - Clean file structure<br>
        - Fast and secure<br>
        - Web dashboard <br>
        - Dm command handling<br>
    </p>
    <br>
    <h3 class="title">Message from the creators</h3>
    <p class="description"> 
        If your using this bot for your server please let us know over on our 
        <a class="link" href="https://discord.gg/NqDGtcB8Zt">discord server</a>!
    </p>
</div>