<div class="setting" id="invite_the_bot">
    <h3 class="title">Getting started</h3>
    <p class="description">
        Use the sidebar for an specific topic you can read about
        <br><br>
        Disclaimer: Inviting only the bot will not allow you to use all the features automatically. Some functions are only available for premium members and when the bot has been configured!
    </p>
</div>