<div class="setting" id="setup_bot">
    <h3 class="title">Setup bot</h3>
    <p class="description">
        In the
        <a class="link" href="/dashboard">dashboard</a>
        you will find all kinds of settings that you can make on the bot.
        <br><br>
        First, you need to select the server you want to set now by clicking "Dashboard" under the card. Alternatively, you can also go directly to the server dashboard using the 
        <a class="command command_dashboard" href="/commands?name=dashboard">/dashboard</a>
        <script>
            tippy('.command_dashboard', {
                content: 'Shows you the dashboard for the current guild.'
            })
        </script>
        command to get directly to the server dashboard.
        <br><br>
        After you have selected your server, you should see a statistics page. Since this tutorial is not about statistics, we will first click on General.
    </p>
    <img src="/assets/img/docs_setup1.png" alt="Image" class="image">
    <p class="description">
        First, you can set how the ticket names should be named. By default, this is set to ticket-{id}. If you change the value, the channel names will look different.
    </p>
</div>