footer {
    margin-top: -20px;
    width: 100vw;
    height: fit-content;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px 30px 0px;
    user-select: none;
}

footer .logo .name {
    color: #5865F2;
    margin: 0;
}

footer .useful, footer .legal {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

footer .legal .title, footer .useful .title {
    margin: 0;
}

footer .legal .link, footer .useful .link {
    color: #b6b6b6;
    text-decoration: none;
    transition: ease-in-out .2s;
}

footer .legal .link.disabled, footer .useful .link.disabled {
    color: #9e9e9e;
    pointer-events: none;
}

footer .legal .link:hover, footer .useful .link:hover {
    color: #9e9e9e;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    body footer {
        flex-direction: column;
        text-align: center;
    }
}