body nav {
    width: 100vw;
    height: 38px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    align-items: center;
    padding: 14px 0;
    background-color: #0A0A0A;
    justify-content: space-between;
    position: fixed;
    top: 0;
    user-select: none;
    z-index: 99999;
}

body nav .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    transition: ease-in-out .2s;
    cursor: pointer;
}

body nav .title:hover {
    transition: ease-in-out .2s;
    opacity: .8;
}

body nav .title .logo {
    border-radius: 90%;
    width: 33px;
    height: 33px;
}

body nav .title .brand {
    margin: 0 8px;
}

body nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body nav .links .link {
    margin: 0 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-display: swap;
    transition: ease-in-out .1s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body nav .links .link.disabled {
    color: #cccccc;
    pointer-events: none;
}

body nav .links .link i {
    margin-right: 4px;
}

body nav .links .link:hover {
    text-decoration: underline;
    color: #cccccc;
}

body nav .login {
    margin-right: 16px;
}

body nav .login .button {
    background-color: #5865F2;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-display: swap;
    transition: ease-in-out .2s;
    margin-right: 6px;
}

body nav .login .button:hover {
    background-color: #454FBF;
}

body nav .login .dropdown .text {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-display: swap;
    transition: ease-in-out .2s;
    margin-right: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99999;
}

body nav .login .dropdown .text img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 100%;
}

body nav .login .dropdown .text:hover {
    color: #d1d1d1;
}

body nav .login .dropdown .dropdown-content {
    display: none;
    z-index: 99999;
}

body nav .login .dropdown .dropdown-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    position: absolute;
    margin-top: 10px;
    padding: 7px 22px;
    width: auto;
    z-index: 99999;
}

body nav .login .dropdown .dropdown-content.active .item {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0px;
    background-color: transparent;
    border-radius: 8px;
    width: 120%;
    text-align: center;
    transition: ease-in-out .1s;
    z-index: 99999;
}

body nav .login .dropdown .dropdown-content.active .item:not(:first-child) {
    margin-top: 4.5px;
}

body nav .login .dropdown .dropdown-content.active .item:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

body nav .login .dropdown .dropdown-content.active .item.red:hover {
    background-color: #d33b3e;
}

body nav .icon {
    display: block;
    margin-right: 20px;
    font-size: 1.7rem;
}

@keyframes dropin {
    0% {
        margin-top: 0;
        display: flex;
        visibility: visible;
        opacity: 0;
    }
    100% {
        margin-top: 10px;
        display: flex;
        visibility: visible;
        opacity: 1;
    }
} 

@keyframes dropout {
    0% {
        margin-top: 10px;
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    100% {
        margin-top: 0;
        display: flex;
        visibility: visible;
        opacity: 0;
    }
}

body.hd .present, body.hd svg, body.hd .features, body.hd footer, body.hd .list {
    display: none;
}

body .nav-window {
    width: 100vw;
    height: 100vh;
    background-color: #0A0A0A;
    position: absolute;
    top: 0;
    display: none;
    margin-top: 0;
    z-index: 999;
}

body.hd .nav-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
}

@keyframes navin {
    0% {
        margin-top: -5px;
        display: flex;
        visibility: visible;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        display: flex;
        visibility: visible;
        opacity: 1;
    }
} 

@keyframes navout {
    0% {
        margin-top: 0px;
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    100% {
        margin-top: -5px;
        display: flex;
        visibility: visible;
        opacity: 0;
    }
}

body.hd .nav-window .item {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
}

body.hd .nav-window .item i {
    margin-right: 3px;
}

body.hd .nav-window .text {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (min-width: 800px) {
    body nav .icon {
        display: none;
    }

    body nav .links {
        display: flex;
    }

    body nav .login {
        display: block;
    }

    body .nav-window {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    body nav .icon {
        display: block;
    }

    body nav .links {
        display: none;
    }

    body nav .login {
        display: none;
    }
}