body .sidenav {
    display: flex;
    flex-direction: column;
    width: 330px;
    position: fixed;
    left: 0;
    top: 66px;
    height: 93.3%;
    background-color: #121212;
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.21);
}

body .sidenav .info {
    margin-top: 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body .sidenav .info .logo {
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

body .sidenav .info .name {
    color: #ffffff;
    margin-left: 5px;
    font-weight: 600;
}

body .sidenav .links {
    padding: 0 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body .sidenav .links .title {
    color: #ffffff;
    margin: 0 10px;
    font-weight: 500;
}

body .sidenav .links .title:not(:first-child) {
    margin-top: 12px;
}

body .sidenav .links .item {
    margin-top: 3.5px;
    color: #ffffff;
    padding: 5px 10px;
    background-color: #0e0e0e;
    width: 90%;
    border-radius: 8px;
    text-decoration: none;
    transition: ease-in-out .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.075rem;
}

body .sidenav .links .item i {
    margin-right: 8px;
}

body .sidenav .links .item:hover , body .sidenav .links .item.active {
    background-color: #0a0a0a;
}

body .sidenav .links .item.last {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 73.6%;
    bottom: 20px;
}

body .sidenav .links .item.last i {
    margin-right: 5px;
}