body .sidenav {
    display: flex;
    flex-direction: column;
    width: 330px;
    position: fixed;
    left: 0;
    top: 66px;
    height: 93.3%;
    background-color: #121212;
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.21);
}

body .sidenav-small {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: #121212;
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.21);
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
}

body .sidenav-small {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: #121212;
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.21);
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100vh;
}

body .sidenav-small .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #0e0e0e;
    padding: 10px;
    border-radius: 8px;
    height: 28px;
    width: 28px;
}

body .sidenav-small .item.active {
    background-color: #0a0a0a;
}

body .sidenav-small .item:not(:first-child) {
    margin-top: 4px;
}

@media screen and (max-width: 900px) {
    body .sidenav {
        display: none;
    }

    body .sidenav-small {
        display: flex;
    }

    body .content {
        margin-left: 80px;
        margin-top: 66px;
        display: flex;
        flex-direction: column;
    }
}

body .sidenav .info {
    margin-top: 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body .sidenav .info .logo {
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

body .sidenav .info .name {
    color: #ffffff;
    margin-left: 5px;
    font-weight: 600;
    font-display: swap;
}

body .sidenav .links {
    padding: 0 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body .sidenav .links .title {
    color: #ffffff;
    margin: 0 10px;
    font-weight: 500;
    font-display: swap;
}

body .sidenav .links .title:not(:first-child) {
    margin-top: 12px;
}

body .sidenav .links .item {
    margin-top: 3.5px;
    color: #ffffff;
    padding: 5px 10px;
    background-color: #0e0e0e;
    width: 90%;
    border-radius: 8px;
    text-decoration: none;
    transition: ease-in-out .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.075rem;
    font-display: swap;
}

body .sidenav .links .item i {
    margin-right: 8px;
}

body .sidenav .links .item:hover , body .sidenav .links .item.active {
    background-color: #0a0a0a;
}

body .sidenav .links .item.last {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 73.6%;
    bottom: 20px;
}

body .sidenav .links .item.last i {
    margin-right: 5px;
}