@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #111111;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
    position: absolute;
}
   
body::-webkit-scrollbar-thumb {
    background: #5865F2; 
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #454FBF; 
}

body .content {
    margin-left: 330px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    position: relative;
    z-index: 400;
}

body .content .setting {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body .content .setting .title {
    margin: 0;
    color: #ffffff;
    font-size: 1.075rem;
    font-display: swap;
    font-weight: 500;
}

body .content .setting:not(:first-child) {
    margin-top: 30px;
}

body .content .setting .description {
    margin: 1px 0;
    color: #b4b4b4;
    font-size: 0.95rem;
    font-display: swap;
    font-weight: 400;
}

body .content .setting .description .link {
    margin: 1px 0;
    color: #cfcfcf;
    font-size: 0.95rem;
    font-display: swap;
    font-weight: 400;
    text-decoration: none;
    transition: ease-in-out .2s;
}

body .content .setting .description .link:hover {
    color: #e4e4e4;
    text-decoration: underline;
}

body .content .setting .description .command {
    color: #cfcfcf;
    background-color: #000000;
    border-radius: 2px;
    padding: 1px 5px;
    cursor: pointer;
    text-decoration: none;
}

body .content .setting .image {
    margin: 10px 0;
    height: auto;
    width: 320px;
}