@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #111111;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
    position: absolute;
}
   
body::-webkit-scrollbar-thumb {
    background: #5865F2; 
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #454FBF; 
}

body .content {
    margin-left: 330px;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    position: relative;
    z-index: 400;
}

body .content .setting {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body .content .setting .title {
    margin: 0;
    color: #ffffff;
    font-size: 1.075rem;
    font-weight: 500;
    font-display: swap;
}

body .content .setting:not(:first-child) {
    margin-top: 30px;
}

body .content .setting .description {
    margin: 1px 0;
    color: #585858;
    font-size: 0.95rem;
    font-weight: 400;
    font-display: swap;
}

body .content .setting .description .red {
    background-color: #ED4245;
    color: #ffffff;
    padding: 1px 3px;
    border-radius: 4px;
}

body .content .setting .textarea {
    margin-top: 10px;
    resize: vertical;
    max-height: 300px;
    min-height: 36px;
    padding: 2px 10px;
    height: 36px;
    border: 2px transparent solid;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    border-radius: 8px;
    background-color: #181818;
    outline: none;
    transition: ease-in-out .1s;
}

body .content .setting .textarea.long {
    height: 120px;
}

body .content .setting .textarea[type=number]::-webkit-outer-spin-button,
body .content .setting .textarea[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .content .setting .textarea[type=number] {
    -moz-appearance: textfield;
}

body .content .setting .textarea:focus {
    outline: none;
    border: 2px solid #5865F2;
}

body .content .setting .textarea::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
    position: absolute;
}
   
body .content .setting .textarea::-webkit-scrollbar-thumb {
    background: #5865F2; 
    border-radius: 10px;
}
  
body .content .setting .textarea::-webkit-scrollbar-thumb:hover {
    background: #454FBF; 
}

.select {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    border-radius: 8px;
    background-color: #181818;
    outline: none;
    border: 2px solid transparent;
    padding: 4px 10px;
    transition: ease-in-out .1s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select option {
    background-color: transparent !important;
}

.select option:hover {
    background-color: #5865F2 !important;
}

.select::-ms-expand {
    display: none;
}

select:focus {
    border: 2px solid #5865F2;
}

body .content .setting .button {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #5865F2;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 22px;
    border-radius: 8px;
    font-weight: 600;
    transition: ease-in-out .2s;
    margin-right: 6px;
    text-align: center;
    width: 50px;
}

body .content .setting .chars {
    color: #585858;
    margin: 1px;
    font-size: 0.9rem;
    font-weight: 400;
    font-display: swap;
}

body .content .setting .button:hover {
    background-color: #454FBF;
}

body .content .table {
    border: 0px;
    color: #ffffff;
    text-align: left;
    background-color: #181818;
    padding: 5px 10px;
    border-radius: 8px;
    border-collapse:separate; 
    border-spacing: 10px;
    margin-top: 20px;
}

body .content .table .tableContent .reason .input {
    padding: 0px 10px;
    height: 36px;
    border: 2px #1c1c1c solid;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    border-radius: 8px;
    background-color: #181818;
    outline: none;
    transition: ease-in-out .1s;
    width: 100%;
}

body .content .table .tableContent .select {
    width: 100%;
}

body .saveChanges {
    display: none;
    padding: 6px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(37, 37, 37, 1);
    border-radius: 8px;
    position: fixed;
    width: fit-content;
    right: 20px;
    bottom: 10px;
    z-index: 99999;
    max-width: 85vw;
}

body .saveChanges.active {
    display: flex;
    animation: changein .2s;
}

@keyframes changein {
    0% {
        opacity: 0;
        display: flex;
        visibility: visible;
        bottom: 2px;
    }
    100% {
        opacity: 1;
        display: flex;
        visibility: visible;
        bottom: 10px;
    }

}

body .saveChanges .text {
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    justify-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .saveChanges .button {
    background-color: #5865F2;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-display: swap;
    transition: ease-in-out .2s;
    margin-right: 6px;
    margin-left: 16px;
    justify-self: flex-end;
}

body .saveChanges .button:hover {
    background-color: #454FBF;
}