@media screen and (max-width: 1250px) {
    body .present .content {
        margin-left: 90px;
    }
    
    body .present .content .description {
        width: 50%;
    }

    body .present .image img {
        width: 460px;
        height: 460px;
        margin-right: 30px;
    }

    body {
        overflow-x: hidden;
    }

    body .features {
        margin-top: -40px;
    }
}

@media screen and (max-width: 800px) {
    body .present {
        margin-top: 190px;
        justify-content: center;
    }

    body .present .content {
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    body .present .image img {
        display: none;
    }

    body .features .content.left, body .features .content.right {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }

    body .features {
        margin-top: -30px;
    }
}