<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ticketer - Easily manage users' concerns</title>
    <meta name="keywords" content="ticketer, ticketer.tk, ticket, discord ticket, discord ticket bot, ticket bot, discord, ticket discord">
    <meta name="description" content="With ticketer you can easily manage the concerns of your server members at any time. Very uncomplicated and with many possibilities!">
    <meta name="author" content="Finn Kötting">

    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/partials/navbar.css">
    <link rel="stylesheet" href="/assets/css/partials/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="present">
        <div class="content">
            <h1 class="title">Ticketer</h1>
            <p class="description">Manage your users' problems easier than ever before!</p>
        </div>
        <div class="image">
            <img src="/assets/img/index1.svg" alt="Mockup">
        </div>
    </div>
    <svg width="1208" height="224" viewBox="0 0 1208 224" fill="none" xmlns="http://www.w3.org/2000/svg" class="wave">
        <g filter="url(#filter0_d_708_34)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 80H54C104 80 204 80 304 62C404 44 504 8 604 8C704 8 804 44 904 74C1004 104 1104 128 1154 140L1204 152V224H1154C1104 224 1004 224 904 224C804 224 704 224 604 224C504 224 404 224 304 224C204 224 104 224 54 224H4V80Z" fill="#181818"/>
        </g>
        <defs>
        <filter id="filter0_d_708_34" x="0" y="0" width="1208" height="224" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="-4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_708_34"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_708_34" result="shape"/>
        </filter>
        </defs>
    </svg>
    <div class="features">
        <div class="content left">
            <h1 class="title">Why us?</h1>
            <p class="description">Ticketer is a simple and easy to use ticket system for your Discord server. It is designed to be as simple as possible and to be as customizable as possible. We want to give every guild the possibility to offer user support with an online dashboard, transcripts and live message tracking.</p>
        </div>
        <div class="content right">
            <h1 class="title">Features</h1>
            <p class="description">We offer not only normal tickets, but online transcripts that are deleted after 24 hours, a dashboard to customize the bot for your server as it suits you best. Write your own messages for the bot to reply with or enable and disable features as you like.</p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="/assets/js/partials/navbar.js"></script>
</body>
</html>