<footer>
    <div class="logo">
        <h1 class="name">Ticketer</h1>
    </div>
    <div class="useful">
        <h3 class="title">Useful links</h3>
        <a href="/" class="link">Home</a>
        <a href="/commands" class="link disabled">Commands</a>
        <a href="https://discord.com/api/oauth2/authorize?client_id=977591057711792178&permissions=139855260752&scope=bot%20applications.commands" class="link">Invite</a>
        <a href="/dashboard" class="link">Dashboard</a>
    </div>
    <div class="legal">
        <h3 class="title">Developer's Dungeon</h3>
        <a href="https://discord.developersdungeon.xyz/" target="_blank" class="link">Discord</a>
        <a href="https://developersdungeon.xyz/" target="_blank" class="link">Website</a>
    </div>
</footer>