<footer>
    <div class="logo">
        <h1 class="name">Ticketer</h1>
    </div>
    <div class="useful">
        <h3 class="title">Useful links</h3>
        <a href="/" class="link">Home</a>
        <a href="/commands" class="link disabled">Commands</a>
        <a href="/invite" class="link disabled">Invite</a>
        <a href="/servers" class="link disabled">Dashboard</a>
    </div>
    <div class="legal">
        <h3 class="title">Legal</h3>
        <a href="/" class="link disabled">Imprint</a>
        <a href="/" class="link disabled">Terms of Service</a>
    </div>
</footer>